{% extends 'admin/base_site.html' %}
{% block content %}
    <h1>THÔNG KÊ THÔNG TIN CÁC KHÓA HỌC</h1>
    <ul>
        {% for c in stats %}
            <li><strong>{{ c.name }}</strong>: <span style="color: red">{{ c.count }}</span></li>
        {% endfor %}
    </ul>


    <div style="width: 800px;"><canvas id="myChart"></canvas></div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        window.onload = () => {
            const ctx = document.getElementById('myChart');

            let data = []
            let labels = []
            {% for c in stats %}
                data.push({{ c.count }})
                labels.push('{{ c.name }}')
            {% endfor %}

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# Quatity',
                        data: data,
                        borderWidth: 1,
                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                        ]
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }
    </script>

{% endblock %}